# REQUIRED
DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_discord_bot_client_id_here

# Spotify Artwork Fetching
SPOTIFY_CLIENT_ID=your_spotify_client_id_here (optional)
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here (optional)

# If you want the bot to autorejoin after shutdown
MONGODB_URI=

# If you want to change from the RBC Radio Feed
STREAM_URL=https://your-radio-station.com/stream.mp3
API_URL=https://your-azuracast-instance.com/api/nowplaying/yourstation
REQUESTS_URL=https://your-radio-website.com/requests
USER_AGENT=your-bot-name/1.0 (Icecast client; your-info)
